

.App {
  height: 500px;
  width: 700px;
  margin: 0;
}

.completed{
  text-decoration: line-through;
}


.low-priority {
  background-color: #81d4fa;
}

.medium-priority {
  background-color: #a5d6a7;
}

.high-priority {
  background-color: #ef9a9a;
}


html {
  --scrollbarBG: hsl(0, 0%, 100%);
  --thumbBG: #90a4ae;
}
.List::-webkit-scrollbar {
  width: 11px;
}
.List {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.List::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 6px;
}
.List::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


.password {
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
}